.container{
    margin-top: 10px;
}

.jumbotron{
    margin-top: 10px;
}

.rect, .circle{
    width: 100px;
    height: 100px;
}

.rect{
    background: red;
}

.circle{
    background: green;
    border-radius: 50%;
}

#pic{
    width: 100%;
}

.editor{
    min-height: 500px;
}

#shape-3 .rect{
    display: inline-block;
    width: 50px;
    height: 50px;
    margin-right: 5px;
}